<a href="https://colab.research.google.com/github/VadimF77/code/blob/my-test-branch/%D0%9F%D0%B5%D1%80%D0%B2%D0%B0%D1%8F_%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C_%D0%B8_%D0%BF%D0%B5%D1%80%D0%B2%D0%BE%D0%B5_%D0%BF%D1%80%D0%B5%D0%B4%D1%81%D0%BA%D0%B0%D0%B7%D0%B0%D0%BD%D0%B8%D0%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Привет, Data Science!')

Привет, Data Science!

In [ ]:
import pandas as pd
df = pd.read_excel('trips_data_for_ML.xlsx', index_col = 0)
df.head()

   salary  age  ...  transport_preference_Поезд transport_preference_Самолет
0  196000   25  ...                           0                            0
1  152000   60  ...                           0                            1
2   83000   49  ...                           0                            0
3  161000   41  ...                           0                            0
4  146000   58  ...                           0                            1

[5 rows x 24 columns]

In [ ]:
X = df.drop('target', axis = 1)
y = df['target']

In [ ]:
X.head()

   salary  age  ...  transport_preference_Поезд  transport_preference_Самолет
0  196000   25  ...                           0                             0
1  152000   60  ...                           0                             1
2   83000   49  ...                           0                             0
3  161000   41  ...                           0                             0
4  146000   58  ...                           0                             1

[5 rows x 23 columns]

In [ ]:
y.head(8)  # в скобках - количество показываемых строк, по умолчанию 5

0    New York
1      London
2      Sydney
3    New York
4      Sydney
5       Tokio
6      London
7    New York
Name: target, dtype: object

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
type(model)

sklearn.ensemble._forest.RandomForestClassifier

In [ ]:
model.fit(X, y)  # обучаем модель

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# меняйте данные в перемернной example и делайте предсказания

example = {'age': [31],
 'city_Екатеринбург': [0],
 'city_Киев': [0],
 'city_Краснодар': [1],
 'city_Минск': [0],
 'city_Москва': [0],
 'city_Новосибирск': [0],
 'city_Омск': [0],
 'city_Петербург': [0],
 'city_Томск': [0],
 'city_Хабаровск': [0],
 'city_Ярославль': [0],
 'family_members': [0],
 'salary': [130000],
 'transport_preference_Автомобиль': [1],
 'transport_preference_Космический корабль': [0],
 'transport_preference_Морской транспорт': [0],
 'transport_preference_Поезд': [0],
 'transport_preference_Самолет': [0],
 'vacation_preference_Архитектура': [0],
 'vacation_preference_Ночные клубы': [0],
 'vacation_preference_Пляжный отдых': [0],
 'vacation_preference_Шоппинг': [1]}
example_df = pd.DataFrame(example)
model.predict(example_df)

array(['London'], dtype=object)